.App {
  text-align: center;
  /*background-color: rgba(12, 98, 35, 0.88);*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Column-card {
  position: relative;
  margin-top: -85%;
}

.Column-card.first {
  margin-top: 0px;
}

.columns {
  /*padding-left: 0.25rem;
  padding-right: 0.25rem;*/
}

/* TODO : glow only on selected card and children (currently flow on whole column) */ 
.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(241, 13, 13, 0.4);
}